/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}


/* User Statistic */

.stat-content {
	text-align: center;
	margin: 0 auto;
}

.stat-limit {
	text-align: center;
	border: 1px solid black;
	padding: 10px;
	height: 10%;
	width: 100%;
	margin-bottom: 10px;
}

.stat-periods {
	text-align: center;
}

.stat-graph {
	margin-top: 20px;
	height: 60%;
}

/* User Profile */

.profile-avatar {

}

.profile-avatar .avatar-image {
	border: 1px solid gray;
	text-align: center;
	width: 25%;
	height: 25%;
	min-height: 70px;
	vertical-align: middle;
}