= content_for :title do
  = @finance.created_at.strftime("%d-%m-%Y")
= content_for :buttons do
  %a{"data-icon" => "arrow-l", :href => finances_path}
    Финансы  
  = link_to("Удалить", finance_path(@finance), :method => :delete, :class => "ui-btn-right", :data => {icon:"delete"})
  -#%a.ui-btn-right{"data-icon" => "delete", :href => new_finance_path} Удалить
%div
  %h3
    = date_with_month(@finance)
  %h4
    Сумма:
    = @finance.value
    рублей
  