= content_for :title do
  Финансы
= content_for :buttons do
  %a{"data-icon" => "home", :href => diary_path}
    События  
  %a.ui-btn-right{"data-icon" => "plus", :href => new_finance_path} Добавить
%div
  %ul{"data-role" => "listview", "data-filter" => "true"}
    -@finances.each do |finance|
      %li
        = link_to edit_finance_path(finance) do
          = date_with_month(finance)            
          %span.ui-li-count
            = finance.value


