= content_for :title do
  Внесение денег
= content_for :buttons do
  %a{"data-icon" => "arrow-l", :href => finances_path}
    Финансы  
%div
  %h3
    Внесение наличных денег за оплату питания ребенка от 
    = Time.zone.now.strftime("%d-%m-%Y")
  = form_for @finance do |f|
    %div
      = label_tag(:value, "Сумма:")
      = text_field_tag(:value, @finance.value, :placeholder => "сумма" )
      = f.submit "Сохранить" 