= content_for :title do
  Регистрация
= content_for :buttons do
  %a.ui-btn-right{"data-icon" => "check", :href => login_path}
    Авторизоваться
= form_for @user do |f|
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :email
    = f.text_field :email, :placeholder => "Email"
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :password
    = f.password_field :password, :placeholder => "Пароль"  
  %div.ui-hide-label{"data-role" => "fieldcontain"}
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :placeholder => "Подтверждение пароля"     
  %p.button= f.submit("Зарегистрироваться")