.home_page
  .header
    .logo
      = image_tag "logos/logo.png", :alt => "SchoolMate - верный помощник родителям"
    .questions
      %div
        Не можете запомнить когда родительские собрания?
      %div 
        Забываете про даты сдачи ЕГЭ?
      %div
        Нужно подтянуть ребенка по многим предметам, но каким?
  .body
    .link_to_application
      Почему бы не попробовать?
      .mobile_url
        С мобильного телефона или смартфона: 
        %a.link_path{:href => diary_url}
          diary_path
  .footer
    .copyright
      Ерёмин Андрей, Евменова Оксана, 2012
    .links
      Тут будут ссылки
= stylesheet_link_tag "home"