<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{spending.date}}">
  <ion-content has-header="true" padding="true">
    <div>{{spending.value}}</div>
  </ion-content>
</ion-view>
