<script type="text/ng-template" id="category">
  <ion-item  type="item-text-wrap"  class="item-button-right">
    <ion-delete-button class="ion-minus-circled"></ion-delete-button>
    <span>{{category.name}}</span>
    <span>{{category.type}}</span>
    <ion-option-button class="button-positive" href="#/tab/categories/{{category.id}}">Редактировать</ion-option-button>
	<ion-option-button class="button-assertive" ng-click="deleteCategory(category)" ng-if="categories.can_be_deleted(category.id)">Удалить</ion-option-button>
  </ion-item>
</script>

<ion-view title="Categories">
  <ion-content class="has-header">
    <div>
       Категории поступлений и трат
    </div>  
	<button class="button button-block button-positive">
	  Добавить категорию
	</button>   
    <ion-list>
      <div class="item item-divider">Категории поступлений</div>
  	  <div ng-repeat="category in debit" ng-include="'category'"></div>
      <div class="item item-divider">Категории расходов</div>
      <div ng-repeat="category in credit" ng-include="'category'"></div>     
    </ion-list>
  </ion-content>
</ion-view>
