<ion-view title="Spendings">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="spending in spendings_data" type="item-text-wrap" href="#/tab/spendings/{{spending.id}}">
        <div>{{spending.value}}</div>
        <div>{{spending.date}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
