= content_for :title do
  О сервисе
%div
  .about_logo
    = image_tag "logos/logo.png", :alt => "SchoolMate - верный помощник родителям"
  .about_version
    v 1.0
  .spacer
  .about_authors
    Данный сервис был придуман в ходе долгих мозговых штурмов во время работы, когда вместо того, чтобы решать важные задачи по проектам, 2 человека обсуждали создание нового сервиса. В итоге, SchoolMate - продукт двух неординарных личностей - Оксаны и Андрея. Надеемся, что вам данных продукт пришелся по душе
  .about_donate
    Тут информация для пожертвований
