= content_for :title do
  Настройки
= content_for :buttons do
  %a{"data-icon" => "home", :href => diary_path}
    События
%div
  = form_for @profile do |f|
    %div
      = label_tag(:name, "Имя:")
      = text_field_tag(:name, @profile.name, :placeholder => "имя" ) 
      = label_tag(:children_count, "Количество детей:")
      = text_field_tag(:children_count, @profile.children_count, :placeholder => "количество детей" )        
      = f.submit "Сохранить" 
  %hr/
  %div{"data-role" => "controlgroup"}
    %a{"data-role" => "button", :href => logout_path} Выйти
    %a{"data-role" => "button", :href => about_options_path} О сервисе
    %a{"data-role" => "button", :href => feedback_options_path} Оставить отзыв

