<ion-view title="Календарь">
  <ion-content has-header="true" has-tabs="true" padding="true">

	<div pickadate ng-model="date" on-date-selected="dateIsSelected" picker-data="calendar_data"></div>

	<div id="day_info" ng-show="selectedDate.name.length">
		<div class="card">
		  <div class="item item-text-wrap">
		    <h1 ng-bind="selectedDate.name"></h1>
		    Краткая статистика тут....
		  </div>
		</div>
	</div>

  </ion-content>
</ion-view>
