<ion-view title="Список продуктов">
  <ion-content has-header="true" has-tabs="true" padding="true">

  	<div ng-repeat="item in $parent.items">
		<div class="list card">

		  <div class="item item-avatar">
		    <h2><a href="#/tab/item/{{item.id}}" ng-bind="item.name"></a> (<span ng-bind="item.kkal"></span>)</h2>
		    <p ng-bind="item.description"></p>
		  </div>

		  <div class="item item-image">
		    <img ng-src="{{item.image}}">
		  </div>

		  <a class="item item-icon-left assertive" ng-click="AddToMenu(item.id)">
		    <i class="icon ion-ios7-arrow-forward"></i>
		    Добавить в меню
		  </a>

		</div>
	</div>

  </ion-content>
</ion-view>
