<ion-view title="Продукт">
  <ion-content has-header="true" padding="true">

	<div class="list card">

	  <div class="item item-avatar">
	    <h2><span ng-bind="item.name"></span> (<span ng-bind="item.kkal"></span>)</h2>
	    <p ng-bind="item.description"></p>
	  </div>

	  <div class="item item-image">
	    <img ng-src="{{item.image}}">
	  </div>

	  <!--<a class="item item-icon-left assertive" ng-click="AddToMenu(item.id)">
	    <i class="icon ion-ios7-arrow-forward"></i>
	    Добавить в меню
	  </a>-->

	</div>

  </ion-content>
</ion-view>

