<ion-view title="Список продуктов">
  <ion-content has-header="true" has-tabs="true" padding="true">

	<a href="#/tab/calendar" class="button button-full button-light icon-right ion-chevron-right">
		15 Марта 2013 года
	</a>

	<div class="list">
	  <div class="item item-divider">
	    Завтрак <span "list-card_kkal_info">1111 Ккал</span>
	  </div>
    
	  <a class="item item-icon-left" href="#/tab/item/{{pet.id}}">
	    <i class="list-card-item_kkal_info">565</i>
	    Курица с яблоками
	  </a>
	  <a class="item item-icon-left" href="#/tab/item/{{pet.id}}">
	    <i class="list-card-item_kkal_info">565</i>
	    Курица с яблоками4
	  </a>
	  <a class="item item-icon-left" href="#/tab/item/{{pet.id}}">
	    <i class="list-card-item_kkal_info">565</i>
	    Курица с яблоками3
	  </a>	  
	</div>

	<div class="list">
	  <div class="item item-divider">
	    Обед <span "list-card_kkal_info">321 Ккал</span>
	  </div>
    
	  <a class="item item-icon-left" href="#/tab/item/{{pet.id}}">
	    <i class="list-card-item_kkal_info">22</i>
	    Курица с яблоками
	  </a>
	  <a class="item item-icon-left" href="#/tab/item/{{pet.id}}">
	    <i class="list-card-item_kkal_info">33</i>
	    Курица с яблоками1
	  </a>
	  <a class="item item-icon-left" href="#/tab/item/{{pet.id}}">
	    <i class="list-card-item_kkal_info">23</i>
	    Курица с яблоками2
	  </a>	  
	</div>	

  </ion-content>
</ion-view>
