<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Статистика">
  <ion-content has-header="true" has-tabs="true" padding="true">

    <div class="stat-content">

      <div class="stat-limit">
        Суточный лимит: <span ng-bind="user.stat.current()"></span> / <span ng-bind="user.stat.limit()"></span>
      </div>

      <div class="stat-periods button-bar">
        <button class="button button-light" ng-click="view_states.graph_period = 'week'" ng-class="{active: view_states.graph_period == 'week'}">Неделя</button>
        <button class="button button-light" ng-click="view_states.graph_period = 'month'" ng-class="{active: view_states.graph_period == 'month'}">Месяц</button>
        <button class="button button-light" ng-click="view_states.graph_period = '3months'" ng-class="{active: view_states.graph_period == '3months'}">3 месяца</button>
      </div>

      <div ui-graph="graph_data" graph-options="graphOptions" id="stat-graph" graph-click="goToDate"></div>
      <!--<div ui-chart="graph_data" chart-options="graphOptions" id="stat-graph" chart-click="bindGraphEvents"></div>-->

    </div>

  </ion-content>
</ion-view>
