
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <!-- Pets Tab 
  <ion-tab title="Pets" icon="icon ion-home" href="#/tab/pets">
    <ion-nav-view name="pets-tab"></ion-nav-view>
  </ion-tab>-->


  <!-- Adopt Tab
  <ion-tab title="Adopt" icon="icon ion-heart" href="#/tab/adopt">
    <ion-nav-view name="adopt-tab"></ion-nav-view>
  </ion-tab> -->


  <!-- About Tab
  <ion-tab title="About" icon="icon ion-search" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab> -->

  <!-- Stat Tab -->
  <ion-tab title="Stat" icon="icon ion-search" href="#/tab/stat">
    <ion-nav-view name="stat-tab"></ion-nav-view>
  </ion-tab>

  <!-- User Tab -->
  <ion-tab title="User" icon="icon ion-search" href="#/tab/user">
    <ion-nav-view name="user-tab"></ion-nav-view>
  </ion-tab>

  <!-- User List -->
  <ion-tab title="List" icon="icon ion-search" href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <!-- User List -->
  <ion-tab title="Calendar" icon="icon ion-search" href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>  

  <!-- User List -->
  <ion-tab title="Catalog" icon="icon ion-search" href="#/tab/catalog">
    <ion-nav-view name="catalog-tab"></ion-nav-view>
  </ion-tab>    

</ion-tabs>
