<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Профиль">
  <ion-content has-header="true" has-tabs="true" padding="true">

    <div class="profile-head row">
      <!--<div class="profile-avatar col col-25">
        <div class="avatar-image">Avatar</div>
      </div>-->
      <div class="profile-maininfo">
        <div class="profile-maininfo_row list">
          <label class="item item-input">
            <input type="text" ng-model="$parent.user.name" placeholder="Name"/>
          </label>
        </div>
        <div class="profile-maininfo_row field">
          <select ng-model="$parent.user.aim_id" ng-options="aim.id as aim.name for aim in $parent.aims"></select>
        </div>
      </div>
    </div>

    <div class="profile-characteristics list list-inset">
      <label class="item item-input">
        Weight:  <input type="text" ng-model="$parent.user.weight" placeholder="in kg"> <span ng-show="$parent.user.weight">kg</span>
      </label>
      <label class="item item-input">
        Growth: <input type="text" ng-model="$parent.user.growth" placeholder="in sm"/> <span ng-show="$parent.user.growth">sm</span>
      </label>
      <label class="item item-input">
        Age: <input type="text" ng-model="$parent.user.age" placeholder="in years"/> <span ng-show="$parent.user.age">years</span>
      </label>    
    </div>

  </ion-content>
</ion-view>
