= content_for :title do
  События
= content_for :buttons do
  -#%a{"data-icon" => "info", :href => "index.html"} Alerts   
  %a{"data-icon" => "plus", :href => diary_add_path, "data-rel" => "dialog", "data-transition" => "slidedown", "data-inline" => true} Добавить  
  %a.ui-btn-right{"data-icon" => "gear", :href => options_path} Настройки
%div
  Нет событий


