= content_for :title do
  Авторизация
= content_for :buttons do
  %a.ui-btn-right{"data-icon" => "plus", :href => signup_path, "data-inline" => "true"}
    Зарегистрироваться
%div
  = form_tag(sessions_path, :method => "post") do
    %div.ui-hide-label{"data-role" => "fieldcontain"}
      = label_tag(:email, "email:")
      = text_field_tag(:email, "", :placeholder => "Email" )    
    %div.ui-hide-label{"data-role" => "fieldcontain"}
      = label_tag(:password, "password:")
      = password_field_tag(:password, "", :placeholder => "Пароль" )  
    = submit_tag("Авторизоваться")