= content_for :title do
  = @subject.name
= content_for :buttons do
  %a{"data-icon" => "arrow-l", :href => subjects_path}
    Предметы  
  = link_to("Удалить", subject_path(@subject), :method => :delete, :class => "ui-btn-right", :data => {icon:"delete"})
%div
  = render 'form'
  