= content_for :title do
  Предметы
= content_for :buttons do
  %a{"data-icon" => "home", :href => diary_path}
    События  
  %a.ui-btn-right{"data-icon" => "plus", :href => new_subject_path} Добавить
%div
  %ul{"data-role" => "listview", "data-filter" => "true" }
    -@subjects.each do |subject|
      %li
        = link_to edit_subject_path(subject) do
          = subject.name 


