= content_for :title do
  События
%a{"data-role" => "button", :href => subjects_path } Года
%a{"data-role" => "button", :href => finances_path } Редактировать финансы
%a{"data-role" => "button", :href => study_path } Редактировать учебный год
%a{"data-role" => "button", :href => '#' } Контроль предметов
%a{"data-role" => "button", "data-rel" => "back", :href => diary_path, "data-theme" => "a" } Закрыть