= content_for :title do
  Учеба
= content_for :buttons do
  %a{"data-icon" => "home", :href => diary_path}
    События  
  -# %a.ui-btn-right{"data-icon" => "plus", :href => new_subject_path} Добавить
%div
  %a{"data-role" => "button", :href => new_year_path } Добавить учебный год
  %div{ "data-role" => "collapsible-set"}
    -@years.each_with_index do |year, index|
      %div{ "data-role" => "collapsible", "data-collapsed" => index > 0 ? "true" : "false" }
        %h3
          = year.code
        %a{"data-role" => "button", :href => edit_year_path(year), "data-theme" => "a" } Редактировать        
        %a{"data-role" => "button", :href => new_year_term_path(year) } Добавить четверть
        - year.terms.each do |term|
          %div{ "data-role" => "collapsible", "data-collapsed" => index > 0 ? "true" : "false" }
          %h3
            = "Четверть: " + term.name + " | #{term.start_date.strftime("%d-%m-%Y")} - #{term.finish_date.strftime("%d-%m-%Y")}"
          %a{"data-role" => "button", :href => edit_year_term_path(year, term), "data-theme" => "a" } Редактировать  
          %a{"data-role" => "button", :href => assign_subject_year_term_path(year, term) } Назначить предметы          
          - if term.subjects.count > 0
            %ul{"data-role" => "listview", "data-inset" => "true" }
              - term.subjects.each do |subject|
                %li
                  = subject.name 