= content_for :title do
  = @year.code
= content_for :buttons do
  %a{"data-icon" => "arrow-l", :href => study_path}
    Учеба  
  = link_to("Удалить", year_path(@year), :method => :delete, :class => "ui-btn-right", :data => {icon:"delete"})
%div
  = render 'form'
  