= form_for [@year, @term] do |f|
  %div
    = label_tag(:name, "Название:")
    = text_field_tag(:name, @term.name, :placeholder => "название" )
    = label_tag(:start_date, "Дата начала:")
    = text_field_tag(:start_date, proper_date(@term.start_date), :placeholder => Time.now.strftime("%d-%m-%Y") )
    -#%input#date{:name => "start_date", :type => "date", :value => @term.start_date}/
    = label_tag(:finish_date, "Дата окончания:")
    = text_field_tag(:finish_date, proper_date(@term.finish_date), :placeholder => finish_date_for_term )
    -#%input#date{:name => "finish_date", :type => "date", :value => @term.finish_date}/
    = f.submit "Сохранить" 