= content_for :title do
  Предметы в четверти
= content_for :buttons do
  %a{"data-icon" => "arrow-l", :href => study_path}
    Учеба  
%div
  = form_tag(add_subject_year_term_path(@year, @term), :method => :post) do
    %div{"data-role" => "fieldcontain"}
      %fieldset{"data-role" => "controlgroup"}
        - @subjects.each do |s|
          = check_box_tag("subjects[#{s.id}]", 1, s.term_ids.include?(@term.id), { class:"custom" })
          = label_tag "subjects[#{s.id}]", s.name
    = submit_tag "Сохранить"