= content_for :title do
  = @term.name
= content_for :buttons do
  %a{"data-icon" => "arrow-l", :href => study_path}
    Учеба  
  = link_to("Удалить", year_term_path(@year, @term), :method => :delete, :class => "ui-btn-right", :data => {icon:"delete"})
%div
  = render 'form'
  