!!!
%html
  %head
    %title Schoolmate
    = stylesheet_link_tag    "mobile", :media => "all"
    = javascript_include_tag "mobile"
    = csrf_meta_tags
  %body
    %div{"data-role" => "page", "data-theme" => "c", "data-add-back-btn" => "true"}
      - if there_are_notifications?
        %div.ui-bar.ui-bar-e
          = t('notifications.have_events')
      %div{"data-role" => "header", "data-theme" => "c"}
        %h1 
          = yield :title
        = yield :buttons  
      / /header
      = raw(display_messages)      
      %div{"data-role" => "content", "data-theme" => "c"}
        = yield
      / /content
    / /page 

  